header{
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    background:rgb(0, 0, 0, 0.7);
    z-index: 999;
}

header nav ul{
    display: flex;
    justify-content: center;
}

header nav ul li{
    margin: 0 20px;
    list-style: none;
}

